.card {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
    max-width: 800px;
    min-height: 480px;
    margin: 0px auto;
    padding: 30px;
    background-color: var(--bg-light);
    border-radius: 8px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.studyTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 991px) {
    .card {
        min-height: 580px;
        padding: 20px;
    }

    .studyTitle {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
    }
}
