.container {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 19px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    border: 1px solid var(--bg-darker);
    border-radius: 3px;
    background-color: var(--bg-light);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;

    left: 2px;
    top: 2px;
    width: 13px;
    height: 13px;
    border-radius: 2px;
    background-color: var(--bg-darker);
}

.input:checked ~ .checkmark:after {
    display: block;
}