.input {
    min-height: 40px;
    padding: 4px 8px;
    background-color: transparent;
    border: 1px solid #1818184D;
    border-radius: 5px;
    outline: none;
}

.input:hover,
.input:focus {
    border: 1px solid var(--bg-darker) !important;
}